
/* COLORES (despues agregar a variables)
edf2fb
e2eafc
d7e3fc
ccdbfd
c1d3fe
b6ccfe
abc4ff
*/


/*
Background de toda la pag
*/

.bodyBackground{
    background-color: #e2eafc;
}
/*
Background de la tabla
*/
.divBackground{
    
}
/*
Background de titulo
*/
.table{
    background-color: #d7e3fc;
}
/*
Background cada una de las lineas de tabla
*/
.itemsRow{
    background-color: #edf2fb;
    border-color: #edf2fb;
    text-align: center;
}
.titleRow{
    text-align: center;
}
h2{
    font-size: 15px;
    color:black;
    text-align: center;
}
h1{
    color:black;
    text-align: center;
}